.mypageForm {
	text-align: center;
}
.mypageForm > p > button {
	margin: 10px 0;
	width: 410px;
	padding: 15px;
	background-color: #f4e7da;
	color: #a4837c;
	border: none;
	font-weight: bold;
	border-radius: 10px;
}
.mypageForm > p > button:hover {
	color: 	#cd853f;
	background-color: #ffe4b5;
	font-weight: bold;
}