<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	
<div layout:fragment="content" class="frame">
	<h1 style="text-align: center">비밀번호 찾기</h1>
	<div class="findPasswordForm">
		<form>
			<p>
				<input class="userid" type="text" placeholder="아이디를 입력하세요" onkeyup="if(window.event.keyCode==13){idCheck()}">
				<input id="userIdCheckBtn" type="button" value="확인" onclick="idCheck()">
			</p>
			<p><label class="idCheckLabel" hidden="hidden"></label></p>
			<p>
				<input class="useremail" type="email" placeholder="가입할 때 인증 받은 이메일을 입력하세요." hidden="hidden" onkeyup="if(window.event.keyCode==13){emailCheck()}">
				<input id="emailauthBtn" type="button" value="확인" hidden="hidden" onclick="emailCheck()">
			</p>
			<p>
				<input class="authCode" type="text" placeholder="인증번호를 입력해주세요." hidden="hidden" onkeyup="if(window.event.keyCode==13){authCodeCheck()}"> 
				<input id="authCodeBtn" type="button" value="확인" hidden="hidden" onclick="authCodeCheck()">
			</p>
			<p><label class="emailauthLabel" hidden="hidden"></label></p> 
			<p>
				<input class="userPassword" type="password" placeholder="4 글자 이상 20 글자 이하 비밀번호를 입력해 주세요." maxlength="20" minlength="4" hidden="hidden">
			</p>
			<p>
				<input class="userPasswordCheck" type="password" placeholder="4 글자 이상 20 글자 이하 비밀번호를 입력해 주세요." maxlength="20" minlength="4" hidden="hidden">
			</p>
			<p><label class="userPasswordLabel" hidden="hidden"></label></p>
			<p><input id="pwUpdateBtn" type="button" value="비밀번호 변경" hidden="hidden"></p>
		</form>
	</div>
	
	<script th:inline="javascript">
		document.addEventListener("DOMContentLoaded", function() {
			window.idCheck = function() {
				$.ajax({
					type: "POST",
					url: "/member/idCheck",
					data: {
						"userid" : $('.userid').val()
					},
					success: function(data) {
						if(data == 'success') {
							// 이메일 입력창과 버튼 hidden none 처리
							document.querySelector('.useremail').hidden = "";
							document.getElementById('emailauthBtn').hidden = "";
							
							// 가입한 아이디가 존재 하지 않다는 메시지 hidden 처리
							document.querySelector('.idCheckLabel').innerText = '';
							document.querySelector('.idCheckLabel').hidden = "hidden";
							
							// 입력한 userid는 수정 불가능
							document.querySelector('.userid').readOnly = true;
						}
						else {
							// 가입한 아이디가 존재 하지 않음
							document.querySelector('.idCheckLabel').hidden = "";
							document.querySelector('.idCheckLabel').innerText = '해당 아이디가 존재하지 않습니다.'
							
							// 다시 emailform hidden 처리
							document.querySelector('.useremail').hidden = "hidden";
							document.getElementById('emailauthBtn').hidden = "hidden";
						}
					}
				})
			}
			
			let code;
			window.emailCheck = function() {
				$.ajax({
					type: "POST",
					url: "/findPassword/auth",
					data: {
						"email": $('.useremail').val(),
						"userid": $('.userid').val()
					},
					success: function(data) {
						if(data == '0') {
							document.querySelector('.emailauthLabel').hidden = "";
							document.querySelector('.emailauthLabel').innerText = "해당 아이디와 이메일이 일치하지 않습니다.";
						}
						else {
							<!-- 다시 이메일인증 라벨 히든 처리 -->
							document.querySelector('.emailauthLabel').hidden = "hidden";
							document.querySelector('.emailauthLabel').innerText = "";
							
							document.querySelector('.authCode').hidden = "";
							document.getElementById('authCodeBtn').hidden = "";
							
							// 입력한 이메일 수정 불가능
							document.querySelector('.useremail').readOnly = true;
							
							code = data;
							console.log(code);
							alert('인증번호가 전송되었습니다. 인증번호를 입력해 주세요.');
						}
						
					}
				})
			}
			
			window.authCodeCheck = function() {
				console.log(code == $('.authCode').val());
				if(code == $('.authCode').val()) {
					document.querySelector('.emailauthLabel').hidden = "";
					document.querySelector('.emailauthLabel').innerText = "인증 완료되었습니다.";
					document.querySelector('.authCode').readOnly = true;
					document.querySelector('.userPassword').hidden = "";
					document.querySelector('.userPasswordCheck').hidden = "";
				}
				else {
					document.querySelector('.emailauthLabel').hidden = "";
					document.querySelector('.emailauthLabel').innerText = "인증번호가 일치하지 않습니다.";
				}
			}
			
			// 비밀번호 확인
			const userPasswordLabel = document.querySelector('.userPasswordLabel');
			$('.userPassword').focusout(function() {
				var userpw = document.querySelector('.userPassword').value;
				var userpwCheck = document.querySelector('.userPasswordCheck').value;
				
				if(userpw.length < 4 || userpwCheck.length < 4) {
					userPasswordLabel.hidden = "";
					userPasswordLabel.innerText = "비밀번호는 4글자 이상만 가능합니다";
					$('.userPasswordLabel').css("color", "red");
					document.getElementById('pwUpdateBtn').hidden = "hidden";
				}
				else {
					if(userpw == userpwCheck) {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치합니다.";
						$('.userPasswordLabel').css("color", "blue");
						document.getElementById('pwUpdateBtn').hidden = "";
					}
					else {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치하지 않습니다.";
						$('.userPasswordLabel').css("color", "red");
						document.getElementById('pwUpdateBtn').hidden = "hidden";
					}
				}
				
			})
			$('.userPasswordCheck').focusout(function() {
				var userpw = document.querySelector('.userPassword').value;
				var userpwCheck = document.querySelector('.userPasswordCheck').value;
				
				if(userpw.length < 4 || userpwCheck.length < 4) {
					userPasswordLabel.hidden = "";
					userPasswordLabel.innerText = "비밀번호는 4글자 이상만 가능합니다";
					$('.userPasswordLabel').css("color", "red");
					document.getElementById('pwUpdateBtn').hidden = "hidden";
				}
				else {
					if(userpw == userpwCheck) {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치합니다.";
						$('.userPasswordLabel').css("color", "blue");
						document.getElementById('pwUpdateBtn').hidden = "";
						$('#pwUpdateBtn').click(function() {
							$.ajax({
								type: "POST",
								url: "/member/updatePassword",
								data: {
									"userpw": $('.userPassword').val(),
									"userid": $('.userid').val()
								},
								success: function(data) {
									if(data != 0) {
										alert('비밀번호가 변경되었습니다. 로그인 페이지로 이동합니다.');
										location.href = '/member/login';
									}
									else {
										alert('알 수 없는 이유로 실패했습니다.');
										locataion.href = '/';
									}
								}
							})
						})
					}
					else {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치하지 않습니다.";
						$('.userPasswordLabel').css("color", "red");
						document.getElementById('pwUpdateBtn').hidden = "hidden";
					}
				}
			})
		})
	</script>
</div>
</html>