<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="frame">
	<h1 style="text-align: center">비밀번호 변경</h1>
	
	<div class="updatePasswordForm">
		<form>
			<p>
				<input class="userpw" type="password" placeholder="현재 비밀번호를 입력해주세요." onkeyup="if(window.event.keyCode==13){pwCheck()}">
				<input id="userpwBtn" type="button" value="확인" onclick="pwCheck()">
			</p>
			<p><label class="userpwLabel" hidden="hidden"></label></p>
			<p>
				<input class="userPassword" type="password" placeholder="4 글자 이상 20 글자 이하 비밀번호를 입력해 주세요." maxlength="20" minlength="4" hidden="hidden">
				
			</p>
			<p>
				<input class="userPasswordCheck" type="password" placeholder="4 글자 이상 20 글자 이하 비밀번호를 입력해 주세요." maxlength="20" minlength="4" hidden="hidden">
			</p>
			<p><label class="userPasswordLabel" hidden="hidden"></label></p>
			<p><input id="pwUpdateBtn" type="button" value="비밀번호 변경" hidden="hidden"></p>
		</form>
	</div>
	
	<script th:inline="javascript">
		const user = [[${session.user}]];
		if(user == null) {
			alert('로그인 후 이용해주세요');
			location.href = '/member/login';
		}
		else if(user.isKakao == 'Y') {
			alert('카카오회원은 비밀번호 변경이 불가능합니다.');
			location.href = '/';
		}
		else {
			window.pwCheck = function() {
				$.ajax({
					type: "POST",
					url: "/member/pwCheck",
					data: {
						"userpw": $('.userpw').val(),
						"userid": user.userId
					},
					success: function(data) {
						if(data == 'equals') {
							document.querySelector('.userpwLabel').hidden = "hidden";
							document.querySelector('.userpwLabel').innerText = "";
							document.querySelector('.userPassword').hidden = "";
							document.querySelector('.userPasswordCheck').hidden = "";
							document.querySelector('.userpw').readOnly = true;
						}
						else {
							document.querySelector('.userPassword').hidden = "hidden";
							document.querySelector('.userPasswordCheck').hidden = "hidden";
							document.querySelector('.userpwLabel').hidden = "";
							document.querySelector('.userpwLabel').innerText = "비밀번호가 일치하지 않습니다.";
						}
					}
				})
			}
			
			// 비밀번호 확인
			const userPasswordLabel = document.querySelector('.userPasswordLabel');
			$('.userPassword').focusout(function() {
				var userpw = document.querySelector('.userPassword').value;
				var userpwCheck = document.querySelector('.userPasswordCheck').value;
				
				if(userpw.length < 4 || userpwCheck.length < 4) {
					userPasswordLabel.hidden = "";
					userPasswordLabel.innerText = "비밀번호는 4글자 이상만 가능합니다";
					$('.userPasswordLabel').css("color", "red");
					document.getElementById('pwUpdateBtn').hidden = "hidden";
				}
				else {
					if(userpw == userpwCheck) {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치합니다.";
						$('.userPasswordLabel').css("color", "blue");
						document.getElementById('pwUpdateBtn').hidden = "";
					}
					else {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치하지 않습니다.";
						$('.userPasswordLabel').css("color", "red");
						document.getElementById('pwUpdateBtn').hidden = "hidden";
					}
				}
				
			})
			$('.userPasswordCheck').focusout(function() {
				var userpw = document.querySelector('.userPassword').value;
				var userpwCheck = document.querySelector('.userPasswordCheck').value;
				
				if(userpw.length < 4 || userpwCheck.length < 4) {
					userPasswordLabel.hidden = "";
					userPasswordLabel.innerText = "비밀번호는 4글자 이상만 가능합니다";
					$('.userPasswordLabel').css("color", "red");
					document.getElementById('pwUpdateBtn').hidden = "hidden";
				}
				else {
					if(userpw == userpwCheck) {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치합니다.";
						$('.userPasswordLabel').css("color", "blue");
						document.getElementById('pwUpdateBtn').hidden = "";
						$('#pwUpdateBtn').click(function() {
							$.ajax({
								type: "POST",
								url: "/member/updatePassword",
								data: {
									"userpw": $('.userPassword').val(),
									"userid": user.userId
								},
								success: function(data) {
									console.log("data : " + data);
									if(data != 0) {
										alert('비밀번호가 변경되었습니다. 다시 로그인 해주시기 바랍니다.');
										location.href = '/member/login';
									}
									else {
										alert('알 수 없는 이유로 실패했습니다.');
										location.href = '/';
									}
								}
							})
						})
					}
					else {
						userPasswordLabel.hidden = "";
						userPasswordLabel.innerText = "비밀번호가 일치하지 않습니다.";
						$('.userPasswordLabel').css("color", "red");
						document.getElementById('pwUpdateBtn').hidden = "hidden";
					}
				}
			})
		}
		
		
	</script>
</div>
</html>