<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
	<div class="backgroundImg">
		<img src="/img/background3.jpg">
	</div>
	<div class="frame backgroundText">
		<h1>어울러져 함께 하는 코드 리뷰</h1>
		<p style="margin: 10px 0">개발자의 여정을 함께 하는 곳, 정보를 나누고 서로에게 배우는 커뮤니티</p>
		<p style="margin: 10px 0">모든 코드에는 이야기가 있습니다. 함께 나누며 더 나은 미래와 커리어를 만들어가요!</p>
		<div class="flex index_link">
			<a href="/board/list">게시글로 소통하기</a>
			<div class="space"></div>
			<a href="/studyboard/studyrecruit">채팅하며 소통하기</a>
		</div>
	</div>
</div>
</html>